@import "icons.css";
@import "tabs.css";
@import "statusbar.css";
@import "toolbars.css";
@import "toolbar_icons.css";
@import "titlebar_icons.css";
@import "urlbar.css"; 

#main-window {
   background-color: #b4cee8 !important;
   color: #000 !important;
}